@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--bg);
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/grid.svg");
  background-repeat: repeat;
  pointer-events: none;
  opacity: var(--grid-opacity);
}



